!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
    script
      espressoConfig = {
          loader: {
              libPath: '/build/lib'
          }
      }
  body
    div#mocha
    each script in scripts
      script(src="#{script}")
    script
      mochaPhantomJS = this.mochaPhantomJS;
      assert = chai.assert;
      expect = chai.expect;
      should = !mochaPhantomJS && chai.should();
      !mochaPhantomJS && mocha.setup('#{ui}');
    if lib
        script(src="#{lib}")
    script(src="#{test}")
    script
      (mochaPhantomJS || mocha).run();