!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
    script
      espressoConfig = {
          loader: {
              libPath: '/build/lib'
          }
      }
  body
    h1#qunit-header QUnit Test Suite
    h2#qunit-banner
    div#qunit-testrunner-toolbar
    h2#qunit-userAgent
    ol#qunit-tests
    div#qunit-fixture
      span lame test markup
      span normal test markup
      span awesome test markup
    each script in scripts
      script(src="#{script}")
    if lib
        script(src="#{lib}")
    script(src="#{test}")