!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
    script
      espressoConfig = {
          loader: {
              libPath: '/build/lib'
          }
      }
  body
    div#mocha
    each script in scripts
      script(src="#{script}")
    script
      assert = chai.assert;
      expect = chai.expect;
      should = chai.should();
      mocha.setup('bdd');
    if lib
        script(src="#{lib}")
    script(src="#{test}")
    script
      if(!window.mochaPhantomJS) mocha.run();