!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
  body
    each script in scripts
      script(src="#{script}")
    script
      espressoConfig = {
          environment: espresso.util.Config.DefaultEnvironments.TEST
      };
    script(src="#{src}")
    script
       mocha.ui('bdd');
       mocha.reporter('#{reporter}');
       mocha.run();